<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Dashboard</title>
   <!--This script tag is used to maintain session using localstorage-->

</head>
<body>
  <%- include ('./partials/homeNavbar.ejs') %>
  <% if (data) { %>
    <script>
       localStorage.setItem("id",   '<%= data._id %>'   )      
       localStorage.setItem("email",   '<%= data.email  %>'   ) 
       localStorage.setItem("role",   '<%= data.role %>'   )    
    </script>
  <% } %>
  <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1><i>Dashboard</i></h1>
        </div>
    </div>
  </div>
  <div id="member" class="container ">
    <h2 class="mt mb">Your Policy Graph</h2>
    <div class="row">
      <div class="coll-lg-2 col-md-2"></div>
      <div class="col-lg-8 col-md-8">
        <div id="memberUser"></div>
      </div>
    </div>
  </div>
  <script>
    let role = localStorage.getItem('role');

   let userId = localStorage.getItem('csams');
   let email='<%= data.email  %>' ;
   console.log(email)

   $.post("/pendingpolicy/count/", {email: email}, function(data, status){
   document.getElementById('member').style.display='block';
   console.log(data.data)

   var data=[data.data.all, data.data.actioned,data.data.nonactioned, data.data.Approved, data.data.hold]
    // let scores = data.data.map(e => e.average);

   //let name = data.data.map(e => e.quizCategory)

   
   ////////////
  

   console.log(document.getElementsByName('canvas')  )
   var ctx = document.getElementById('memberUser');
   if(ctx.childNodes.length >0)
   {
     while(ctx.firstChild){
     ctx.removeChild(ctx.firstChild)
   }
   }
   let allData = document.createElement('canvas'); 
var myChart = new Chart(allData, {
   type: 'bar',
   data: {
       labels: ['All','Actioned','Non Actioned','Approved','Hold'],
       datasets: [{
           label: 'Policies Counts',
           data: data,
           backgroundColor: [
               'rgba(255, 99, 132, 0.2)',
               'rgba(54, 162, 235, 0.2)',
               'rgba(255, 206, 86, 0.2)',
               'rgba(75, 192, 192, 0.2)',
               'rgba(153, 102, 255, 0.2)',
               'rgba(255, 159, 64, 0.2)'
           ],
           borderColor: [
               'rgba(255, 99, 132, 1)',
               'rgba(54, 162, 235, 1)',
               'rgba(255, 206, 86, 1)',
               'rgba(75, 192, 192, 1)',
               'rgba(153, 102, 255, 1)',
               'rgba(255, 159, 64, 1)'
           ],
           borderWidth: 1
       }]
   },
   options: {
       scales: {
           y: {
               beginAtZero: true,
               max: 100
           }
       }
   }
});


ctx.appendChild(allData)
 
 return 0
 

});


</script>
  <script>
    var getTest = '<%= data %>';  //var test is now assigned to getTest which will only work on browsers
    console.log(getTest);  // successfully prints 101 on browser
 </script>
  
<script>
 
   (function() {
  
      console.log("localstorage",localStorage)
    })();
</script>
</body>
<%- include ('./partials/footer.ejs') %>
</html>

