<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Department</title>


</head>
<body>
  <%- include ('./partials/homeNavbar.ejs') %>

  <h1 style="text-align: center; margin:30px 0px;"><i>New Policies</i></h1>


<%if(data.success)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-success"><%=data.success%></p>
<% }%>
<%if(data.error)
{
     %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-danger"><%=data.error%></p>
<% }%>
  <div id="view">
    <div class="container">
    <table class="table table-striped tbl-class">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Policy Name</th>
          <th scope="col">Policy Description</th>
          <th scope="col" >Approve</th>
          <th scope="col"  >Hold </th>
        </tr>
        
      </thead>
      <tbody>
            <!---This code is used to check if there is values in department then render it on browser-->

    <%  if(data.policy.length) 
    {
    
    for(var i=0;i < data.policy.length ; i++) { %>

      <tr>
        <th scope="row"><%= i+1  %></th>
        <td><%= data.policy[i].name %></td>
        <td><%= data.policy[i].description %></td>
        <% var del = i;  var upd = 1000+i;  %>
        <td><button class="btn btn-success" onclick="updatefunc('<%=data.policy[i]._id%>','<%=data.policy[i].category%>')" data-toggle="modal" data-target="#exampleModal2"><b>Approve</b></button></td>
        <td><button  class="btn btn-success" onclick="deletefunc('<%=data.policy[i]._id%>','<%=data.policy[i].category%>')" data-toggle="modal" data-target="#exampleModal3"><b>Hold</b></button></td>
     
      </tr>
      <% } } %>
      </tbody>
    </table>
  </div>

    
  </div>
  
<!--  modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/department/" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

        <div  class="form-group  ">
          <label>Name</label>
          <input   type="text" class="form-control" name="name"  
            placeholder="Enter Department name">
        </div>

          <div  class="form-group ">
            <label>Description</label>
            <textarea type="text" class="form-control" name="description"  
              placeholder="Enter Description"></textarea>
          </div>

         

          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
  </div>
</div>
<!--  modal-->


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/pendingpolicy/approve/" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Approve Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idpolicyapprove" type="text" class="form-control" name="id"  
            placeholder="id">
        </div>
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idgmailapprove" type="email" class="form-control" name="email"  
            placeholder="id">
        </div>
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idcategoryapprove" type="text" class="form-control" name="category"  
            placeholder="id">
        </div>
        <h1>Are You Sure?</h1>

          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </form>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/pendingpolicy/hold/" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hold Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idpolicyhold" type="text" class="form-control" name="id"  
            placeholder="id">
        </div>
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idgmailhold" type="email" class="form-control" name="email"  
            placeholder="id">
        </div>
        <div  class="form-group  " style="display: none;">
          <label>Id</label>
          <input  id="idcategoryhold" type="text" class="form-control" name="category"  
            placeholder="id">
        </div>
        <h1>Are You Sure?</h1>

          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </form>
  </div>
</div>

<script>
  function updatefunc(id,cat)
{
  document.getElementById("idpolicyapprove").value=id
  document.getElementById("idcategoryapprove").value=cat
  document.getElementById("idgmailapprove").value=localStorage.getItem("email")
}

function deletefunc(id,cat)
{
  document.getElementById("idpolicyhold").value=id
  document.getElementById("idcategoryhold").value=cat
  document.getElementById("idgmailhold").value=localStorage.getItem("email")
  //window.location.href="/edit/"+id
}
</script>

</body>
<%- include ('./partials/footer.ejs') %>
</html>